<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier Application</title>
</head>
<body ng-app="app">

    <main ng-controller='mainCtrl'>
        Titre : {{title}}
        <form action="" name="login">
            <code>{{credentials}}</code>
            <hr>
            <style>
                input.ng-touched.ng-invalid{
                    border: 3px solid red;
                }
                input.ng-valid{
                    border: 3px solid green;
                }
            </style>
            <input type="email" name="email" placeholder="Your email" ng-model="credentials.email">
            <input type="text" name="password" placeholder="Your password" ng-model="credentials.password">
            <button type="button" ng-click="connect()" ng-disabled="login.$invalid">Connect</button>
        </form>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <script>
        angular.module('app',[])
            .controller('mainCtrl', MainCtrl);

        function MainCtrl($scope){
            $scope.title = 'Hello World';

            $scope.credentials = {
                email:'@orsys.fr',
                password:''
            }

            $scope.connect = function () {
                console.log($scope.credentials);
            }
        }
    </script>
</body>
</html>