<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier Application</title>
</head>
<body ng-app="app">

    <main ng-controller='mainCtrl'>
        <h1 ng-class="color"
            ng-style="{fontFamily:font}"
            >Titre : {{title}}</h1>
        <input type="text" placeholder="font" ng-model="font">
        <input type="text" placeholder="color" ng-model="color">
        <style>
            .red{
                color:red;
            }
            .blue{
                color: blue;
            }
        </style>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script>
        angular.module('app',[])
            .controller('mainCtrl', MainCtrl);

        function MainCtrl($scope){
            $scope.title = 'Hello World';
        }
    </script>
</body>
</html>