LOGIN CREATE

<form class="form-inline" name="connect" class="container">
    <div class="row">
        <label>Full Name</label>
        <input type="text" 
                class="form-control" 
                placeholder="Your full Name" 
                ng-model="fullName"
                required
             />
        
        <label>Email</label>
        <input type="text" 
                class="form-control" 
                placeholder="Your Email" 
                ng-model="email"
                required
            />
    </div>
    <button style="margin-top: 20px;"
            type="button" 
            class="btn btn-primary" 
            ng-disabled="login.$invalid">
        Create my account here !
    </button>

    <br>

    <a href=""></a>
</form>